<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Array.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>DataStructure.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>binary_search_tree.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>doubly_skiplist.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>file_IO.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>hybrid_BstVector.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>linked_list.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>quadruply_skiplist.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>stl_list.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>stl_map.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>stl_vector.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>test.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>vector.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2205E0A52B756F28001EBBB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22246AB72B72491F0056DE02</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22246AC52B724A140056DE02</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>222BC43F2B74D4F8002091E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>222BC44A2B74D536002091E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>228D6F922B7A194C005C90DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>228D6FAB2B7A21AA005C90DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>228D6FEB2B7A354D005C90DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22FB1CFC2B73F47E00D97EC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
